apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: insights-operator-auth
  annotations:
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/hypershift: "true"
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/single-node-developer: "true"
    capability.openshift.io/name: Insights
roleRef:
  kind: ClusterRole
  name: system:auth-delegator
subjects:
  - kind: ServiceAccount
    namespace: openshift-insights
    name: operator
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: insights-operator-auth
  namespace: kube-system
  annotations:
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/hypershift: "true"
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/single-node-developer: "true"
    capability.openshift.io/name: Insights
roleRef:
  kind: Role
  name: extension-apiserver-authentication-reader
subjects:
  - kind: ServiceAccount
    namespace: openshift-insights
    name: operator
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: insights-operator
  annotations:
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/hypershift: "true"
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/single-node-developer: "true"
    capability.openshift.io/name: Insights
rules:
  - apiGroups:
      - "insights.openshift.io"
    resources:
      - datagathers
      - datagathers/status
    verbs:
      - create
      - get
      - update
      - patch
      - list
      - delete
      - watch
  - apiGroups:
      - "operator.openshift.io"
    resources:
      - insightsoperators/status
      - insightsoperators
    verbs:
      - list
      - watch
      - get
      - update
      - patch
  - apiGroups:
      - "config.openshift.io"
    resources:
      - clusteroperators
      - clusteroperators/status
      - insightsdatagathers
    verbs:
      - create
      - get
      - update
      - patch
      - list
      - watch
  - apiGroups:
      - "config.openshift.io"
    resources:
      - clusterversions
      - featuregates
    verbs:
      - get
      - list
      - watch
  # allow the operator to retrieve prometheus metrics
  - apiGroups:
      - ""
    resources:
      - namespaces
      - persistentvolumeclaims
    verbs:
      - get
  - apiGroups:
      - "monitoring.coreos.com"
    resources:
      - prometheusrules
      - prometheuses/api
    verbs:
      - create
      - get
      - list
      - delete
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - nodes
    verbs:
      - get
      - list
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: insights-operator-alertmanager
  namespace: openshift-monitoring
  annotations:
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/hypershift: "true"
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/single-node-developer: "true"
    capability.openshift.io/name: Insights
roleRef:
  kind: Role
  name: monitoring-alertmanager-edit
subjects:
  - kind: ServiceAccount
    namespace: openshift-insights
    name: operator
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: insights-operator
  annotations:
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/hypershift: "true"
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/single-node-developer: "true"
    capability.openshift.io/name: Insights
roleRef:
  kind: ClusterRole
  name: insights-operator
subjects:
  - kind: ServiceAccount
    namespace: openshift-insights
    name: operator
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: insights-operator-gather
  annotations:
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/hypershift: "true"
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/single-node-developer: "true"
    capability.openshift.io/name: Insights
rules:
  - apiGroups:
      - "monitoring.coreos.com"
    resources:
      - alertmanagers
      - prometheuses
    verbs:
      - get
      - list
  - apiGroups:
      - ""
    resources:
      - nodes
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - list
  - apiGroups:
      - imageregistry.operator.openshift.io
    resources:
      - configs
      - imagepruners
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - nodes
    verbs:
      - proxy
  - apiGroups:
      - ""
    resources:
      - nodes/log
      - nodes/metrics
      - nodes/proxy
      - nodes/stats
    verbs:
      - get
  - apiGroups:
      - config.openshift.io
    resources:
      - "*"
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - policy
    resources:
      - poddisruptionbudgets
    verbs:
      - list
      - get
      - watch
  - apiGroups:
      - machine.openshift.io
    resources:
      - machinesets
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - operator.openshift.io
    resources:
      - "*"
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - core.openstack.org
    resources:
      - "*"
    verbs:
      - get
      - list
  - apiGroups:
      - dataplane.openstack.org
    resources:
      - "*"
    verbs:
      - get
      - list
  - apiGroups:
      - installers.datahub.sap.com
    resources:
      - "*"
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - operators.coreos.com
    resources:
      - "*"
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - controlplane.operator.openshift.io
    resources:
      - podnetworkconnectivitychecks
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - machineconfiguration.openshift.io
    resources:
      - machineconfigs
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - logging.openshift.io
    resources:
      - "*"
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - apiserver.openshift.io
    resources:
      - apirequestcounts
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - jaegertracing.io
    resources:
      - jaegers
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - costmanagement-metrics-cfg.openshift.io
    resources:
      - costmanagementmetricsconfigs
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ocs.openshift.io
    resources:
      - storageclusters
    verbs:
      - get
      - list
  - apiGroups:
      - ceph.rook.io
    resources:
      - cephclusters
    verbs:
      - get
      - list
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
      - list
  - apiGroups:
      - nmstate.io
    resources:
      - nodenetworkconfigurationpolicies
      - nodenetworkstates
    verbs:
      - get
      - list
  - apiGroups:
      - loki.grafana.com
    resources:
      - lokistacks
    verbs:
      - get
      - list
  - apiGroups:
      - ingress.operator.openshift.io
    resources:
      - dnsrecords
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - network.operator.openshift.io
    resources:
      - operatorpkis
    verbs:
      - get
      - list
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: insights-operator-gather
  annotations:
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/hypershift: "true"
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/single-node-developer: "true"
    capability.openshift.io/name: Insights
roleRef:
  kind: ClusterRole
  name: insights-operator-gather
subjects:
  - kind: ServiceAccount
    namespace: openshift-insights
    name: gather
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: insights-operator-gather-reader
  annotations:
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/hypershift: "true"
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/single-node-developer: "true"
    capability.openshift.io/name: Insights
roleRef:
  kind: ClusterRole
  name: cluster-reader
subjects:
  - kind: ServiceAccount
    namespace: openshift-insights
    name: gather

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: insights-operator
  namespace: openshift-config
  annotations:
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/hypershift: "true"
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/single-node-developer: "true"
    capability.openshift.io/name: Insights
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
    resourceNames:
      - pull-secret
      - support
    verbs:
      - get
      - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: insights-operator
  namespace: openshift-config
  annotations:
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/hypershift: "true"
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/single-node-developer: "true"
    capability.openshift.io/name: Insights
roleRef:
  kind: Role
  name: insights-operator
subjects:
  - kind: ServiceAccount
    name: operator
    namespace: openshift-insights
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: insights-operator
  namespace: openshift-insights
  annotations:
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/hypershift: "true"
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/single-node-developer: "true"
    capability.openshift.io/name: Insights
rules:
  - apiGroups:
      - ""
    resources:
      - serviceaccounts
    resourceNames:
      - gather
    verbs:
      - impersonate
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
  - apiGroups:
      - batch
    resources:
      - jobs
    verbs:
      - create
      - get
      - list
      - delete
      - watch
  - apiGroups:
      - apps
    resources:
      - deployments
      - replicasets
    verbs:
      - get
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: insights-operator
  namespace: openshift-insights
  annotations:
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/hypershift: "true"
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/single-node-developer: "true"
    capability.openshift.io/name: Insights
roleRef:
  kind: Role
  name: insights-operator
subjects:
  - kind: ServiceAccount
    name: operator
    namespace: openshift-insights
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: insights-operator-obfuscation-secret
  namespace: openshift-insights
  annotations:
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/hypershift: "true"
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/single-node-developer: "true"
    capability.openshift.io/name: Insights
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - create
      - get
      - watch
      - list
      - delete
      - update
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: insights-operator-obfuscation-secret
  namespace: openshift-insights
  annotations:
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/hypershift: "true"
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/single-node-developer: "true"
    capability.openshift.io/name: Insights
subjects:
  - kind: ServiceAccount
    name: operator
    namespace: openshift-insights
roleRef:
  kind: Role
  name: insights-operator-obfuscation-secret
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: insights-operator-etc-pki-entitlement
  namespace: openshift-config-managed
  annotations:
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/hypershift: "true"
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/single-node-developer: "true"
    capability.openshift.io/name: Insights
rules:
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - create
      - get
      - watch
      - list
      - delete
      - update
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: insights-operator-etc-pki-entitlement
  namespace: openshift-config-managed
  annotations:
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/hypershift: "true"
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/single-node-developer: "true"
    capability.openshift.io/name: Insights
subjects:
  - kind: ServiceAccount
    name: operator
    namespace: openshift-insights
roleRef:
  kind: Role
  name: insights-operator-etc-pki-entitlement
---
# The insights-runtime-extractor-role requires:
# * access to authentication.k8s.io so that its kube-rbac-proxy
#   can verify the client tokens
# * access to securitycontextconstraints to set its scc.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: insights-runtime-extractor-role
  namespace: openshift-insights
  annotations:
    include.release.openshift.io/hypershift: "true"
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"
    capability.openshift.io/name: Insights
rules:
  - apiGroups:
      - authentication.k8s.io
    resources:
      - tokenreviews
    verbs:
      - create
  - apiGroups:
      - authorization.k8s.io
    resources:
      - subjectaccessreviews
    verbs:
      - create
  - apiGroups:
      - security.openshift.io
    resourceNames:
      - insights-runtime-extractor-scc
    resources:
      - securitycontextconstraints
    verbs:
      - use
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: insights-runtime-extractor
  namespace: openshift-insights
  annotations:
    include.release.openshift.io/hypershift: "true"
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"
    capability.openshift.io/name: Insights
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: insights-runtime-extractor-role
subjects:
  - kind: ServiceAccount
    name: insights-runtime-extractor-sa
    namespace: openshift-insights
---
apiVersion: security.openshift.io/v1
kind: SecurityContextConstraints
metadata:
  name: insights-runtime-extractor-scc
  namespace: openshift-insights
  annotations:
    include.release.openshift.io/hypershift: "true"
    include.release.openshift.io/ibm-cloud-managed: "true"
    include.release.openshift.io/self-managed-high-availability: "true"
    include.release.openshift.io/single-node-developer: "true"
    capability.openshift.io/name: Insights
allowHostDirVolumePlugin: true
allowHostPID: true
allowPrivilegedContainer: true
allowedCapabilities:
  - CAP_SYS_ADMIN
runAsUser:
  type: RunAsAny
seLinuxContext:
  type: RunAsAny
seccompProfiles:
  - runtime/default
---

