apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: insights-operator
  namespace: openshift-insights
  annotations:
    exclude.release.openshift.io/internal-openshift-hosted: "true"
spec:
  endpoints:
  - bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
    interval: 30s
    metricRelabelings:
    - action: drop
      regex: etcd_(debugging|disk|request|server).*
      sourceLabels:
      - __name__
    port: https
    scheme: https
    tlsConfig:
      caFile: /etc/prometheus/configmaps/serving-certs-ca-bundle/service-ca.crt
      serverName: metrics.openshift-insights.svc
  jobLabel: component
  namespaceSelector:
    matchNames:
    - openshift-insights
  selector:
    matchLabels:
      app: insights-operator
