kind: GenericOperatorConfig
apiVersion: operator.openshift.io/v1alpha1
leaderElection:
  disable: true
interval: "5m"
storagePath: /tmp/insights-operator
endpoint: http://[::1]:8081
impersonate: system:serviceaccount:openshift-insights:gather
gather:
  - ALL